#sleep_menu{
    position: relative;
    display: none;
    position: 0 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background: #000;
}

.left-menu{
    background: #fff;
    position: absolute;
    z-index: 1;
    font-size: 10pt;
    left: 0;
    bottom: 0;
    height: 90%;
    width: 20%;
    box-sizing: border-box;
}

.free-class-title{
    padding: 20px;
    font-size: 14pt;
}

.floar{
    list-style: none;
    padding: 15px 10px 15px 0;
    border-top: 1px solid rgb(182, 182, 182);
    margin-left: 30px;
}

.floar>*{
    font-size: 13pt;
}

.floar h6{
    color: rgb(74, 111, 177);
}
.floar p{
    color: #000;
}
.floar small{
    color: rgba(0, 0, 0, 0.5);
}

.top-menu{
    background: rgb(74, 111, 177);
    color: #fff;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    height: 10%;
    width: 100%;
}

.top-menu>div{
    display: inline-flex;
}

.top-left-menu{
    background: rgb(74, 111, 177);
    height: 100%;
    width: 20%;
    text-align: center;
}
#time{
    color: #fff;
    /*line-height: 200%;*/
    font-size: 32pt;
    font-style: bold;
    margin: auto;
}

.sleep_slide{
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 1s;
    width: 80%;
    height: 90%;
}

.news_slide{
    width: 100%;
    height: 91%;
    top: 0;
}

.current{
    opacity: 1;
}

.sleep_slide_content{
    position: absolute;
    z-index: 1;
    text-align: center;
    color: white;
    width: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    min-height: 10rem;
    padding: 2rem;
}

.sleep_slide_content>p{
    font-size: 12pt;
}

.sleep_slide_img{
    width: 100%;
}

.sleep_slide_qrcode{
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    text-align: center;
    border: 5px solid #fff;
}
.sleep_slide_qrcode img{
    height: 7rem;
    width: 7rem;
}
